<!DOCTYPE html>
<html>
  <head>
    <title>Task2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <header class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
      <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png">
      <% if user_signed_in? %> 
        <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
        <!-- *_path はUserモデルを作成したときに、
        deviseにより自動で作成されてますので、rake routesで確認できます -->
        Logged in as <strong><%= current_user.email %></strong>.

        <%= link_to 'プロフィール変更', edit_user_registration_path %> |
        <li class="nav-item">
          <%= link_to 'ルーム登録', rooms_new %>
        </li>
        <li class="nav-item">
          <%= link_to '予約済みルーム一覧', posts_path %>
        </li>
        <li class="nav-item">
          <%= link_to '登録済みルーム一覧', rooms_index %>
        </li>
        <li class="nav-item">
          <%= link_to '設定', account %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", sign_out_path %>
        </li>

      <% else %>
        <%= link_to "登録", new_user_registration_path %> |
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </nav>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
    <%= yield %>
  </body>
</html>
